.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: #7e22ce;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

::-webkit-scrollbar{
    background-color: #242424;
}

::-webkit-scrollbar-thumb {
    background-color: #7e22ce;
}

@media (min-width: 320px) {
    .navbar-fixed a:hover {
        color: #9333ea;
    }
}

@media (min-width: 720px) {
    .navbar-fixed a:hover {
        color: #3b0764;
    }
}