.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7e22ce;
    color: #FFFFFF;
    transition: all 0.9 ease-in-out;
}

.navbar-fixed a:hover {
    color: #3b0764;
}