@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7e22ce;
}

.navbar a:hover {
    color: #242424;
}